.col {
  display: flex;
  flex-direction: column;
}

.grow {
  flex: 1;
}

.row {
  display: flex;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.wrap {
  flex-wrap: wrap;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-between {
  align-items: space-between;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}