.connect-wallet {
  .wallet-item {
    padding: 20px 30px;
    border: solid 1px #0091ff;

    .wallet-logo {
      width: auto;
      height: 30px;
      margin-right: 15px;
    }

    &.connected {
      border-color: #05b169;
      background-color: #05b169;
    }

    &.disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }

  a {
    text-decoration: none;
  }
}
