.discord-fab {
  position: fixed;
  bottom: 33px;
  right: 33px;
  width: 52px;
  height: 52px;
  border-radius: 26px;
  padding: 8px 16px;
  box-shadow: 0 2px 32px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.06);
  background-color: #728adb;
  transition: all 250ms ease-in-out;
  overflow: hidden;
  z-index: $discord-zindex;

  svg path {
    transition: all 250ms ease-in-out;
    transition-delay: 300ms;
  }

  p {
    width: 0;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    transition: opacity 250ms ease-in-out;
    transition-delay: 50ms;
  }

  &:hover {
    width: 160px;
    height: 52px;

    svg path {
      d: path(
        "M 17.876 0 L 17.171 0 C 16.936 0 16.701 0 16.467 0 C 16.232 0 15.997 0 15.762 0 C 15.527 0 15.292 0 15.057 0 C 14.822 0 14.587 0 14.352 0 C 14.117 0 13.883 0 13.648 0 C 13.413 0 13.178 0 12.943 0 C 12.708 0 12.473 0 12.238 0 L 11.533 0 L 10.829 0 L 10.124 0 C 7.329 0 4.798 1.119 2.965 2.929 C 1.133 4.739 0 7.239 0 10 C 0 11.841 0.504 13.566 1.382 15.047 C 2.261 16.529 3.515 17.767 5.014 18.635 C 6.514 19.503 8.26 20 10.124 20 L 11.316 20 C 11.713 20 12.11 20 12.507 20 C 12.905 20 13.302 20 13.699 20 C 14.096 20 14.494 20 14.891 20 C 15.288 20 15.685 20 16.083 20 C 16.48 20 16.877 20 17.274 20 C 17.672 20 18.069 20 18.466 20 C 18.863 20 19.261 20 19.658 20 C 20.055 20 20.452 20 20.85 20 C 21.247 20 21.644 20 22.041 20 C 22.439 20 22.836 20 23.233 20 L 24.425 20 L 25.617 20 C 26.014 20 26.411 20 26.808 20 C 27.206 20 27.603 20 28 20 C 28 16.667 28 13.333 28 10 C 28 4.477 23.467 0 17.876 0 L 17.876 0 M 9.416 10 C 9.416 9.018 8.61 8.222 7.616 8.222 C 6.622 8.222 5.816 9.018 5.816 10 C 5.816 10.982 6.622 11.778 7.616 11.778 C 7.616 11.778 7.616 11.778 7.616 11.778 C 8.092 11.779 8.55 11.591 8.889 11.257 C 9.226 10.924 9.416 10.472 9.416 10 M 14 11.778 C 14 11.778 14 11.778 14 11.778 C 14.994 11.778 15.8 10.982 15.8 10 C 15.8 9.018 14.994 8.222 14 8.222 C 13.006 8.222 12.2 9.018 12.2 10 C 12.2 10.982 13.006 11.778 14 11.778 M 20.384 11.778 C 19.39 11.778 18.584 10.982 18.584 10 C 18.584 9.018 19.39 8.222 20.384 8.222 C 21.378 8.222 22.184 9.018 22.184 10 C 22.184 10.982 21.378 11.778 20.384 11.778 L 20.384 11.778"
      );
    }

    p {
      width: auto;
      opacity: 1;
      visibility: visible;
      margin-left: 10px;
    }
  }
}
